*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/*/build
/captures
.externalNativeBuild

/.gradle/
/.idea/
/models/src/main/assets/efficientnet-lite0-fp32.tflite
/models/src/main/assets/efficientnet-lite0-int8.tflite
/models/src/main/assets/mobilenet_v1_1.0_224.tflite
/models/src/main/assets/mobilenet_v1_1.0_224_quant.tflite
